 
      
     

@media only screen and (max-width: 1920px) and (min-width: 1300px)
{
    .ban1 
	{
		height: 600px;
		padding-bottom: 70px;
		padding-top: 120px;
		margin-left: -183px;
		padding-right: -46px;
		padding-right: 79px;
		width: -87%;
	}
	.imgban {
		margin-left: 169px;
		width: 547px;
		height: 532px;
		position: relative;
		z-index: 1;
		margin-top: 40px;
	}
	#LogoR
	{
		width: 184px;
		height: 55px;
		margin-left: 0;
	}
	#Text
	{
		margin-left: 5px;
		margin-top: -34px;
		font-size: 21px;
	}
	#Icons
	{
	  margin-bottom: -13px;
		margin-right: -209px;
	}
}
@media only screen and (max-width: 1920px) and (min-width: 768px) 
{
	.products
	{
		display:none;
	}
}
@media only screen and (max-width: 1400px) and (min-width: 768px)
{
    #LogoR
    { 
		width: 184px;
		height: 55px;
	}
    #Text
	{
        margin-left: 242px;
		font-size: 14px;
	}
	.imgban 
	{
		margin-left: 110px;
		width: 500px;
		height: 500px;
		position: relative;
		z-index: 1;
		margin-top: 40px;
	}
	.ban1 
	{
		height: 585px;
		padding-bottom: 70px;
		padding-top: 120px;
		margin-left: -116px;
		padding-right: 79px;
	}
	#Icons 
	{
		margin-bottom: -13px;
		margin-right: 59px;
    }
}
.row
{
	margin:0 !important;
}
#navbar_style
{
	padding: 2rem 0px;
}
#LogoR
{
	height: 39px !important;
    width: 110px !important;
}	 
#know-more
{
	letter-spacing: 3px;
    color: #eee2da;
    font-family: "Didot LT Std";
    font-weight: bold;
}
#navbarTogglerDemo03 li a{color:black;}
#Icons li a i {color:black;}

.swiper-button-prev
{
	color: #e7e4da;
	border-radius:50px;
	background-color:#d3aea6 ;
	left: 2rem;
	width: 60px;
	height: 60px;
	position: inherit;
	top:-7px;	
}
.swiper-button-next
{
	color: #e7e4da;
	border-radius:50px;
	background-color:#d3aea6 ;
	width: 60px;
	height: 60px;
	position: inherit; 
	top: -26px; 
	margin: 0;
	right:2rem;   
	float: right;
}
.swiper-button-prev:after{content:unset;}
.swiper-button-prev i{font-size:2rem;}
.swiper-button-next i{font-size:2rem;}
.swiper-button-next:after{content:unset;}
.img-fluid{border-radius:1rem !important;}
h3.text-left {
    text-align: left!important;
    color: #0a0708;
    font-family: "Didot LT Std";
    font-weight: normal;
	font-size:1rem;
}
.slick-slide 
{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	opacity: 0.3;
}
.slick-current 
{	
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	opacity: 1 !important;
}
.slick-slide 
{
	margin-top:2.5rem;
}
.slick-slide.slick-current 
{
	margin-top:0;
}
.slick-current img
{
	height:450px;
	width: 330px;
	margin-left: -1.6rem;
}
.add-to-cart{width: 100% !important;height: 38px !important;background-color:e4d3c7 !important; }
.our-product{color: #627976;font-size: 48px;margin-top: 30px;font-family: "Didot LT Std";font-weight:500!important}
.about-heading{color:black;margin-bottom: 2rem;}

 @media only screen and (max-width: 1920px) and (min-width: 768px) {
    .divclr{
    background: #eee2da;
    padding: 54px 0;
    display:none !important;
  }
  .head{
    display: none !important;
  }
  .h-50 {
    height: 28%!important;
}
}
 @media only screen and (max-width:320px)and (min-width:310px){
     #imgwidth{
      width: 160%;
      margin-left: -17px;
      }
       #Logoleft{
      margin-left:-20px;
      }
      #textleft{
      margin-left:110px;
      margin-top:-33px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
     margin-left: 1px;
    margin-top: 4px;
      }
      #colgal{
              margin-left: 263px;
    margin-top: -50px;}
      
      #sidebar{
        margin-left:-13px;
      }
      #coun{
        margin-left:-13px;
      }
      .text-left{
      display:none !important;
    }
    #textright{
          color: #000000;
    font-size: 28px;
    margin-top: 70px;
    text-align: center;
    }
    #textright {
     color: #000000;
    font-size: 25px;
    margin-top: 70px;
    margin-left: -5px;
}
      }
      @media only screen and (max-width: 375px) and (min-width:370px){
#textright {
    color: #000000;
    font-size: 28px;
    margin-top: 70px;

    margin-left: 34px;}
  }
 @media only screen and (max-width: 360px) and (min-width:330px){
#textright {
    color: #000000;
    font-size: 28px;
    margin-top: 70px;
    margin-left: 34px;}
  }

     
      @media only screen and (max-width:375px)and (min-width:360px){
                #imgwidth{
                width: 163%;
                margin-left: -17px;
                }
                 #Logoleft{
                margin-left:-20px;
                }
                #textleft{
                margin-left:110px;
                margin-top:-33px;
                }
                  #icon{
                  margin-top:9px;
                  }
              #Logo{
              margin-left: 5px;
              margin-top: 4px;
              }
            #colgal{
                    margin-left: 286px;
          margin-top: -50px;}
      
                #sidebar{
                  margin-left:-13px;
                }
                .text-left{
      display:none !important;
    }
  
    }
    
      @media only screen and (max-width:414px)and (min-width:411px){
      #imgwidth{
      width: 134%;
      }
      #Logoleft{
      margin-left:-20px;
      }
      #textleft{
             margin-left: 138px;
    margin-top: -39px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
           margin-left: 1px;
    margin-top: -41px;
      }
      #colgal{
              margin-left: 325px;
    margin-top: -50px;}
    .text-left{
      display:none !important;
    }
      
      }
      @media only screen and (max-width:412px)and (min-width:411px){
      #textright {
    color: #000000;
    font-size: 28px;
    margin-top: 70px;
    /* text-align: center; */
    margin-left: 49px;
}
}
@media only screen and (max-width:414px)and (min-width:413px){
      #textright {
    color: #000000;
    font-size: 28px;
    margin-top: 70px;
    /* text-align: center; */
    margin-left: 49px;
}
}


    @media only screen and (max-width: 1920px) and (min-width: 786px) {
              .imgst{
      display:none;
    }
    .imgwid{
     display:none !important;
    }
    
        }

    @media only screen and (max-width: 411px) and (min-width: 360px) {
    .imgst{
      height:186px;
    }
    #imgwidth{
   width: 136%;
    margin-left: -12px;
    }
   
  }
   @media only screen and (max-width:320px){
  #colgal{
        margin-left: -6px;
    margin-top: 9px;
}
.counter1 {
    width: 45px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
   #imgwidth{
width: 160%;
    margin-left: -17px;
  }
}
 @media only screen and (max-width:320px)and (min-width:310px){
     #imgwidth{
      width: 160%;
      margin-left: -17px;
      }
       #Logoleft{
      margin-left:-20px;
      }
      #textleft{
      margin-left:110px;
      margin-top:-33px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
     margin-left: 1px;
    margin-top: 4px;
      }
      #colgal{
              margin-left: 263px;
    margin-top: -50px;}
      
      #sidebar{
        margin-left:-13px;
      }
      #coun{
        margin-left:-13px;
      }
      }
     
      @media only screen and (max-width:375px)and (min-width:360px){
                #imgwidth{
                width: 163%;
                margin-left: -17px;
                }
                 #Logoleft{
                margin-left:-20px;
                }
                #textleft{
                margin-left:110px;
                margin-top:-33px;
                }
                  #icon{
                  margin-top:9px;
                  }
              #Logo{
              margin-left: 5px;
              margin-top: 4px;
              }
            #colgal{
                    margin-left: 286px;
          margin-top: -50px;}
      
                #sidebar{
                  margin-left:-13px;
                }
    }
    
      @media only screen and (max-width:414px)and (min-width:411px){
      #imgwidth{
      width: 134%;
      }
      #Logoleft{
      margin-left:-20px;
      }
      #textleft{
             margin-left: 138px;
    margin-top: -39px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
           margin-left: 1px;
    margin-top: -41px;
      }
      #colgal{
              margin-left: 325px;
    margin-top: -50px;}
      
      }
	  
	  
	  .mt-5, .my-5 {
    margin-top: 1rem!important;
}
        @media only screen and (max-width: 414px) and (min-width: 320px) {
         #placebutn {
           display: none !important ;
}
}

@media only screen and (max-width: 1920px) and (min-width: 768px) 
{
.placebutn{
      background-color: #627976;
    border: 1px solid #627976;
    border-radius: 5px;
  width: 741%;
    font-size: 20px;
  }
}
@media only screen and (max-width:320px)and (min-width:310px){
     #imgwidth{
      width: 160%;
      margin-left: -17px;
      }
       #Logoleft{
      margin-left:-20px;
      }
      #textleft{
      margin-left:110px;
      margin-top:-33px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
     margin-left: 1px;
    margin-top: 4px;
      }
      #colgal{
              margin-left: 263px;
    margin-top: -50px;}
      
      #sidebar{
        margin-left:-13px;
      }
      #coun{
        margin-left:-13px;
      }
      }
     
      @media only screen and (max-width:375px)and (min-width:360px){
                #imgwidth{
                width: 163%;
                margin-left: -17px;
                }
                 #Logoleft{
                margin-left:-20px;
                }
                #textleft{
                margin-left:110px;
                margin-top:-33px;
                }
                  #icon{
                  margin-top:9px;
                  }
              #Logo{
              margin-left: 5px;
              margin-top: 4px;
              }
            #colgal{
                    margin-left: 286px;
          margin-top: -50px;}
      
                #sidebar{
                  margin-left:-13px;
                }
    }
    
      @media only screen and (max-width:414px)and (min-width:411px){
      #imgwidth{
      width: 134%;
      }
      #Logoleft{
      margin-left:-20px;
      }
      #textleft{
             margin-left: 138px;
    margin-top: -39px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
           margin-left: 1px;
    margin-top: -41px;
      }
      #colgal{
              margin-left: 325px;
    margin-top: -50px;}
      
      }
	  
	  @media only screen and (max-width: 1920px) and (min-width: 768px) {
           .formview{
              display:none;
               }
             }

@media only screen and (max-width:320px)and (min-width:310px){
     #imgwidth{
      width: 160%;
      margin-left: -17px;
      }
       #Logoleft{
      margin-left:-20px;
      }
      #textleft{
      margin-left:110px;
      margin-top:-33px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
     margin-left: 1px;
    margin-top: 4px;
      }
      #colgal{
              margin-left: 263px;
    margin-top: -50px;}
      
      #sidebar{
        margin-left:-13px;
      }
      #coun{
        margin-left:-13px;
      }
      }
      @media only screen and (max-width:375px)and (min-width:360px){
                #imgwidth{
                width: 163%;
                margin-left: -17px;
                }
                 #Logoleft{
                margin-left:-20px;
                }
                #textleft{
                margin-left:110px;
                margin-top:-33px;
                }
                  #icon{
                  margin-top:9px;
                  }
              #Logo{
              margin-left: 5px;
              margin-top: 4px;
              }
            #colgal{
                    margin-left: 286px;
          margin-top: -50px;}
      
                #sidebar{
                  margin-left:-13px;
                }
    }
    
      @media only screen and (max-width:414px)and (min-width:411px){
      #imgwidth{
      width: 134%;
      }
      #Logoleft{
      margin-left:-20px;
      }
      #textleft{
             margin-left: 138px;
    margin-top: -39px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
           margin-left: 1px;
    margin-top: -41px;
      }
      #colgal{
              margin-left: 325px;
    margin-top: -50px;}
      
      }
      
	  
	   @media only screen and (max-width: 1920px) and (min-width: 768px) {
           .signview{
              display:none;
               }
             }

  @media only screen and (max-width:320px)and (min-width:310px){
     #imgwidth{
      width: 160%;
      margin-left: -17px;
      }
       #Logoleft{
      margin-left:-20px;
      }
      #textleft{
      margin-left:110px;
      margin-top:-33px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
     margin-left: 1px;
    margin-top: 4px;
      }
      #colgal{
              margin-left: 263px;
    margin-top: -50px;}
      
      #sidebar{
        margin-left:-13px;
      }
      #coun{
        margin-left:-13px;
      }
      }

      @media only screen and (max-width:375px)and (min-width:360px){
                #imgwidth{
                width: 163%;
                margin-left: -17px;
                }
                 #Logoleft{
                margin-left:-20px;
                }
                #textleft{
                margin-left:110px;
                margin-top:-33px;
                }
                  #icon{
                  margin-top:9px;
                  }
              #Logo{
              margin-left: 5px;
              margin-top: 4px;
              }
            #colgal{
                    margin-left: 286px;
          margin-top: -50px;}
      
                #sidebar{
                  margin-left:-13px;
                }
    }
     @media only screen and (max-width:414px)and (min-width:411px){
      #imgwidth{
      width: 134%;
      }
      #Logoleft{
      margin-left:-20px;
      }
      #textleft{
             margin-left: 138px;
    margin-top: -39px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
           margin-left: 1px;
    margin-top: -41px;
      }
      #colgal{
              margin-left: 325px;
    margin-top: -50px;}
      
      }
	  
	  @media only screen and (max-width: 411px) and (min-width: 320px) {
    .conbnt{
    color: white;
    background-color: #d2ada5;
    border: 1px solid #d2ada5;
    border-radius: 5px;
    width:100%;}

    }
     @media only screen and (max-width:320px)and (min-width:310px){
     #imgwidth{
      width: 160%;
      margin-left: -17px;
      }
       #Logoleft{
      margin-left:-20px;
      }
      #textleft{
      margin-left:110px;
      margin-top:-33px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
     margin-left: 1px;
    margin-top: 4px;
      }
      #colgal{
              margin-left: 263px;
    margin-top: -50px;}
      
      #sidebar{
        margin-left:-13px;
      }
      #coun{
        margin-left:-13px;
      }
      }
     
      @media only screen and (max-width:375px)and (min-width:360px){
                #imgwidth{
                width: 163%;
                margin-left: -17px;
                }
                 #Logoleft{
                margin-left:-20px;
                }
                #textleft{
                margin-left:110px;
                margin-top:-33px;
                }
                  #icon{
                  margin-top:9px;
                  }
              #Logo{
              margin-left: 5px;
              margin-top: 4px;
              }
            #colgal{
                    margin-left: 286px;
          margin-top: -50px;}
      
                #sidebar{
                  margin-left:-13px;
                }
    }
    
      @media only screen and (max-width:414px)and (min-width:411px){
      #imgwidth{
      width: 134%;
      }
      #Logoleft{
      margin-left:-20px;
      }
      #textleft{
             margin-left: 138px;
    margin-top: -39px;
      }
      #icon{
      margin-top:9px;
      }
      #Logo{
           margin-left: -10px;
    margin-top: 0px;
      }
      #colgal{
              margin-left: 325px;
    margin-top: -50px;}
      
      }
      
	.counter
	{
		background-color: #ffffff;font-size: 0.9rem;margin:0;
	}
	.counter_1
	{
		font-size: 0.9rem;margin:0;
	}
	.counter-div
	{
		background-color: #ffffff;
		border: 1px solid #d3aea6;
		height: 38px;
		margin-left: 3%;
		max-width: 30%;
	}
	.about-para
	{
		text-align: left;
		font-size: 14px;
		color: #627976;
		font-family: Didot;
	}
	.ban2p2
	{
		color: #333333;
		margin: 0 auto;
		padding: 42px;
		padding-top: 0;
		font-family: Didot;
		font-size: 14px;
	}
	.input_reg
	{
		background-color: transparent !important;
		color: #627976 !important;
		font-family: "Didot" !important;
		font-size: 14px!important;
		border-bottom: 1px solid #627976!important;
		border-radius:0!important;
	}
	.input_reg::placeholder  { 
	color: #6d6d6d !important;
	opacity: 1 !important;
	}
	.input_reg:-ms-input-placeholder{color: #627976 !important;}
	.input_reg::-ms-input-placeholder{color: #627976 !important;}
	
	.forget-password a{    background-color: transparent;color: #6d6d6d;font-family: "Didot";font-size: 14px;}
	.forget-password {    margin-top:1.6rem !important}
	.button-signup-login{    margin-right: 5rem !important;
    margin-left: 3rem!important;
    margin-top: 2rem !important;}
	.button-signup-login-buttons  , .button-signup-login-buttons-1{ 
	padding: 0.5rem !important;	
    color: white !important;
    border-radius: 0px !important;
    width: 100% !important;
	background-color: #627976!important;
    border: 1px solid #627976!important;}
	.button-signup-login-buttons-1{background-color: #fff!important;
    border: 1px solid #fff!important;color:#3A3A3A !important}
	
	.button-signup-login-buttons-1 a {color:#627976 !important}
	.button-signup-login-buttons-1 a:hover {text-decoration: none !important}
	
	.mgr{padding:0 !important;padding-right:0.5rem !important}
	.mgl{padding:0 !important;padding-left:0.5rem !important}
	.mg_l{padding:0 !important;padding-right:1rem !important}
	.mg_r{padding:0 !important;padding-left:1rem !important}
	.mg{padding:0 !important;}
	.contact-us-h2{font-size: 27px !important;
    color: #000 !important;
    font-weight: 600 !important;
    color: #627976 !important;
    font-family: "Didot LT Std" !important;
    font-weight: bold !important;}
	.mt2{    margin-top: 2rem !important;}
	.contact-us-send{background-color:#627976!important;    border-radius: 0.4rem !important;}
	.checkout-h1{font-size:40px!important;color: #666666!important;font-family: "Didot"!important;}
	.checkout-h2{font-size:24px!important;color: #666666 !important;font-family: "Didot LT Std"!important;font-weight: bold !important;}
	.checkout-main-row	{font-size:18px !important;color: #999999 !important;font-family: "Didot"!important ;}
	.img-checkout{max-width: 100% !important;height: auto; !important}
	.checkout-list-h2	{font-size:22px !important;color: #000000 !important;font-family: "Didot LT Std" !important;}
	.checkout-list-p {font-size: 18px!important;
    color: #989898!important;
    font-family: "Didot"!important;
    line-height: 10px!important;}
	.counter-checkout{background-color: transparent !important;float: left !important;    display: flex !important;
    align-items: center !important;
    justify-content: center!important;    MARGIN-TOP: 0.5rem!important;}
	.decrease-counter
	{
		background-color: #dcdcdc!important;
		width: 30px!important;
		height: 30px!important;
		text-align: center!important;
		border-radius: 50%!important;
		padding: 0.1rem!important;
	}
	.c-price{
		font-size:22px !important;
		color: #000000!important;
		font-family: "Didot LT Std"!important;
	}
.shiping-fee{color: #999999;
    font-family: "Didot LT Std";
   font-size:24px}
.shiping-fee-s{color: #999999;
    font-family: "Didot";
	font-size:24px}
.shiping-fee-m{color: #000000;
    font-family: "Didot LT Std";
	font-size:27px}
.mv{margin: 1rem 0 !important;}
.checkout-btn{
	background-color: #F0E1DD;
    border: 1px solid #F0E1DD;
    font-size: 16px;
    width: 100%;
    letter-spacing: 3px;
    color: #857e75;
    font-family: "Didot LT Std";
    font-weight: bold;
		
	}
	.counter-checkout input{font-size:16px;}
.price-product
{
	padding-bottom:1rem;
}
.about-bottom-p
{
	color: #627976;
    margin: 0 auto;
    padding: 42px;
    padding-top: 0;
}
.about-div{padding-left: 36px;padding-right: 29px;}


.contact-us-h2{display:block;}
.contact-us-h2-mobile{display:none;}
.contact-us-div{background-color: #F0E1DD;}
.contact-us-input{background-color: transparent;text-align: left;}

.mobile-checkout-icon{    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 21px;
    margin-left: -4rem;
    margin-top: 4px;}
.mci1{margin-left: 1rem;}
.sideeen{background-color: #ffffff;border: 1px solid #ffffff;}
.margin-bottom-2{margin-bottom: 2rem !important;}
.p-p{color:black;}
.p-p:hover{color:black;text-decoration: none;}
.counter input{background-color: white;}
.text-dark{color: #607D8B !important;}
.border_top{border-top: 0.3px solid #607D8B;
    margin: 0 !important;
    padding-top: 1rem;}
.color_grey{color: #607D8B !important;    margin-bottom: 1rem !important;}
.abdiv{padding-bottom: 2rem;}	
.checkout-mobile img{height: 150px!important;
    width: 100%!important;
    border-radius: 0 !important;}
	.m-price{    margin-top: -15px !important;
    font-size: 1rem !important;}
.mobile-checkout-container{background-color:#e4e4e4fa;border-radius: 0px;height:150px;width: 100%;padding-top: 0.5rem !important;}
.counter-minus{    background-color: #dcdcdc !important;
    font-size: 20px!important;
    width: 30px!important;
    height: 30px!important;
    padding-top: 1px!important;
    padding-left: 10px!important;
    margin-left: 24px!important;}
.counter-plus{    background-color: #dcdcdc!important;
    font-size: 20px!important;
    width: 30px!important;
    height: 30px!important;
    padding-top: 2px!important;
    padding-left: 9px!important;}
	
	.our-product{display:block;}
	.our-product-mobile{display:none;}
	.index-mobile-view{display:none;}
	.show-more-home-mobile{display:none;}
	.m-check-out-button{display:none;}
	.mobile-p-v{display:none;}
	.show-more-product{display:block;}
	
@media (max-width: 550px)
{
	.gallery{    padding: 0;
    margin: 0;
    margin-top: 2rem;}
	.slick-prev{left:-1.5rem!important;}
	.slick-next{right:1.5rem!important;}
	.slick-slide img{height:330px;width:242px}
	.slick-current img {
    height: 360px;
    width: 264px;
    margin-left: 0.4rem;}
	.m-n-v{display:none}
	.mobile-p-v{display: inline-block;
    float: right;}
	.m-check-out-button{display:block;border: 1px solid #F0E1DD;
    background-color: #F0E1DD;
    margin-top: -41px;
    width: 103%;
    height: 61px;
    color: #000; margin-bottom:3rem}
	.shiping-fee{font-size:1rem}
	.shiping-fee-s{font-size:1rem} 
	.shiping-fee-m{font-size:1.2rem} 
	.sidea{font-size: 1.5rem !important;
    font-family: "Didot LT Std" !important;
    font-weight: 500!important;
    padding: 20px!important;
    margin: 0!important;}
	#mySidenav{background-color:#f0e1dede!important;text-align:center!important;}
	#sidebar{width: 15%!important;margin-top: 9px!important;margin-left: 5px!important;}
	#Logoleft{width:60%!important;margin-top:-4px!important;}
	#colgal{width:25%}
	.show-more-product{display:none;}
	.show-more-home-mobile{    display:block;width: auto !important;
    padding: 1rem 2rem !important;
    margin: 0 auto !important;
    margin-top: 2rem !important;
    background: transparent !important;
    border: 1px solid grey !important;
    color: grey !important;}
	.index-mobile-view{display:block;}
	.couuu{padding:0!important;}
	.up{
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.product-button {padding:0!important;}
	.product-button button{width: 100% !important;
    margin: 0 8px!important;
    padding: 0!important;
    font-size: 8px!important;
    letter-spacing: 0!important
	;}
	.down{
	width:auto !important;
		margin-right: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;}
	.counter_1{padding-left:0 !important;}
	.product-mobile{padding:0!important;}
	.product-mobile p{font-size:10px!important;}
	.product-mobile h3{color: black!important;padding-bottom:0!important;
    font-weight: 700 !important;
    font-size: 1rem !important;}
	.our-product{display:none;}
	.our-product-mobile{display:block;display: block;
    font-size: 2rem;
    margin-top: 30px;
    font-family: "Didot LT Std";
    font-weight: bold !important;}
	
	.counter input{   color: black;    font-size: 1rem;
    background-color: transparent;}
	.counter{    background-color: transparent!important;
    padding: 0!important;float:left !important;
    margin: 0!important;}
	.checkout-list-h2 ,.m-price	{font-size:0.9rem !important}
	.about-para{text-align:center;}
	.about-bottom-p{padding:0!important;}
	.about-div , .about-container{padding:0;}
	.contact-us-h2{display:none;}
	.contact-us-h2-mobile{display:block;font-size: 27px !important;
    color: #000 !important;
    font-weight: 600 !important;
    font-family: "Didot LT Std" !important;
    font-weight: bold !important;text-align:center;}
	.contact-us-div{background-color: #FFFFFF;padding: 0 2rem!important;}
	.contact-us-input{background-color: transparent;text-align: left;border-bottom: 1px solid #637976;}
	.mg_l , .mg_r{padding:0!important;}
	.inpf:focus {
    box-shadow: none !important;
    background-color: transparent!important;}
	.btn-send{    padding: 0 !important;}
	.contact-us-send{background-color:#d2ada5 !important;}
	.margin-top-btn{padding-top: 1.5rem;}
	.login-mobile button{background-color: #F0E1DD;border:1px solid #F0E1DD;color:black;    padding: 0.6rem;}
	.login-mobile input{background-color: transparent;
    padding: 0.6rem;
    border-radius: 0;
    text-align: left;}
	.login-text{    margin-top: 4rem !important;}
}
@media (min-width: 1500px)
{
	.container, .container-lg, .container-md, .container-sm, .container-xl 
	{
		max-width: 78%;
	}
	.imgban 
	{
		width: 475px;
		height: 475px;
	}
	.ban1 {
    height: 550px;
	}
	.slick-slide img 
	{
		width: 297px;
		height: 405px;
	}
	.slick-current img
	{
		height: 495px;
		width: 363px;
    }
}
@media (min-width: 1650px)
{
	.container, .container-lg, .container-md, .container-sm, .container-xl 
	{
		max-width: 78%;
	}
	.imgban 
	{
		width: 537.5px;
		height: 537.5px;
	}
	.ban1 
	{
		height: 615px;
	}
}	
	
@media (min-width: 1800px)
{
	.container, .container-lg, .container-md, .container-sm, .container-xl 
	{
		max-width: 78%;
	}
	.imgban 
	{
		width: 600px;
		height: 600px;
	}
	.ban1 
	{
		height: 680px;
	}
	.slick-slide img 
	{
		width: 330px;
		height: 450px;
	}
	.slick-current img
	{
		height: 540px;
		width: 396px;
    }
}	
@media (min-width: 1900px)
{
	.mgp
	{
		margin-bottom:3% !important;
	}
	.container, .container-lg, .container-md, .container-sm, .container-xl 
	{
		max-width: 78%;
	}
	.imgban 
	{
		width: 650px;
		height: 650px;
	}
	.ban1 
	{
		height: 740px;
	}
	.slick-slide img 
	{
		width: 374px;
		height: 510px;
	}
	.slick-current img
	{
		height: 600px;
		width: 440px;
    }
}	
