*{
	margin:0px;
}
body,h1,h2,h3,h5,span{
font-family: 'Didot', serif ;


}

.navbi{
  color: white;
  font-size: 14px;
}
.ban1{
	height: 600px;
	padding-bottom: 70px;
	padding-top: 120px;
	background-color: #e7e4da;
}
.ban2{
	height: 500px;
	padding-bottom: 70px;
	padding-top: 70px;
	background-color: #e7e4da;
}
.banh1{
	font-size: 70px;
    margin-top: 20px;
    color: #857e75;
    font-family: "Didot LT Std";
    font-weight: bold;
	font-size:3.8rem;
}
.imgban{
	width: 470px;
	height: 470px;
    position: relative;z-index: 1;margin-top: 40px;
}
@media (max-width: 991px) {
.ban1,.imgban{
display: none;
}	
}
@media (min-width: 991px) {
.ban2{
display: none;
}	
}
.banp1{
	color: #666666;
	font-size: 14px;
	font-family: "Didot";
}
.btn-ban1{
	background-color: #627976;
	font-size: 15px;
	font-weight: 500;
	border-radius: 5px;
	border:1px solid #627976;
}
    .slh3{
    	font-size: 18px;
    	font-weight: 800px;
    	color: black;
    }
        .slh4{
      font-size: 16px;
      font-weight: 800px;
      color: black;
    }
    .slp3{
    	/*font-size: 12px;*/
      font-size:14px;
          color: #00000094;
    	    }
.counter 
{
	margin:5px 0px ;
	display: flex;
	align-items:center;
	justify-content:center;
	margin-top: 0px;
}
.counter1 {
  width: 70px;
  margin:5px 0px ;
  display: flex;
  align-items:center;
  justify-content:center;
}
.coun{
  color: #999999;
}
.up, .down {
  display: block;
  color:#999999;
  font-size:15px;
  padding:0 7px;
  margin:5px;
  box-sizing:border-box;
  cursor:pointer;
  border-radius:20px;
  width: 24px;
  line-height: 24px;
  height: 24px;
  user-select:none;
  
  &:hover {
    color:darken(#74B816, 40%);
  }
}
input {
  appearance:none;
  border:0;
  background:white;
  text-align:center;
  width:23px;
  line-height:28px;
  font-size:20px;
  border-radius:5px;
}
.btn-sli{
	background-color: #EEE2DA;
    border: 1px solid #EEE2DA;
    font-size: 13px;
    height: 37px;
    line-height: 8px;
    letter-spacing: 3px;
    color: #857e75 !important;
    font-family: "Didot LT Std";
    font-weight: bold;
}

.swiper-container {
      width: 100%;
      height: 100%;
    }
.swiper-slide 
{
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color:transparent !important;
}

  .slider {
        width: 100%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 275px;
      height: 375px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black !important;
    }
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: .2;
    }

    .formdiv
	{
		height: auto;
		padding-top: 70px;
		padding-bottom: 50px;
		background-color: #e0c0ba;
		margin-right: auto;
		margin-left: auto;
    }

    .inpf
	{
    	border-top: none;
		border-right: none;
		border-left: none;
		color: #000;
		border-bottom: 1px solid #000;
		background-color: transparent;
		border-radius:0;
    }
    .inpf:focus{
    	box-shadow: none;
    	background-color: #eee2da;
    	border-bottom: 1px solid #999999;

    }
    .fh4{
    	font-size: 18px;
    	
    	color: black;
    }
    .fafoo{
    	font-size: 20px;
    	padding: 5px;
    }
        .btn-sli{
          border-radius: 5px;
        }

         .fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:50%;
  right: 50%;
  content: attr(data-count);
  font-size:40%;
  padding:0.5em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:white;
  border:1px solid black;
  color: black;
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
.navcop{
color: black;
    font-size: 15px;
    border-left: 1px solid black;
  
    padding-bottom: 12px;
    margin-left: 1px;
}

.chch1{
	font-size: 30px;
}
.chch2{
	font-size: 22px;
	color: black;
}
.chch2:hover{
	text-decoration: none;
	color: black;
}
.chcp1{
	font-size: 18px;
	color: #a7a7a7;
}
.chchfa{
	font-size: 28px;
	color: #a7a7a7;
	padding-top: 60px;
}
.chchh3{
	color: #a7a7a7;
	font-size: 24px;
}
@media (max-width: 771px) {
	.chchh3{
		font-size: 15px;
	}
	#ddddd{
		margin-top: -27px;
	}
	#dddddd{
		margin-top: -50px;
	}
}
.chchh4{
	color: #a7a7a7;
	font-size: 20px;
}
.btnchch{
	background-color: #627976;
	border: 1px solid #627976;
	font-size: 20px;
	color: #eee2da; 
  width:741%;
}
@media (max-width: 991px) {
	.navnav,.btnchch{
		border: 1px solid #d2ada5;
		background-color: #d2ada5;
    width:213%;
	}
}
@media (max-width: 991px) {
	.badip,.navnav{
		display: none;
	}
	.chotoo{
		background-color: #cccccc26;
	}
}
@media (min-width: 992px) {
	.chotip,.sideeen{
		display: none;
	}
}

      .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #D2ADA5;
        overflow-x:hidden;
        transition: 0.5s;
        padding-top: 60px; 
      }
      .sidenav a{
        padding:8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        color: black;
        display: block;
        transition: 0.3s;
      }
      .sidenav a:hover,.offcanvas a:focus{
        color: black;
      }
      .sidenav .closebtn{
        position: absolute;
        top: 0;
        font-size: 46px;
        color: black;

      }

      @media (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }
        .sidenav a{
          font-size: 18px;
        }
      }
      .bar{
        width: 35px;
        height: 2px;
        background-color: black;
        margin:6px 0px;
      }
      .sidea{
        margin-left: 120px;
      }
      .sideeen{
        background-color: #D2ADA5;
        border: 1px solid #D2ADA5;
      }
      @media (max-width: 500px) {
        .navcop{
          font-size: 10px;
        }
      }
      .ban2h1{
        font-size: 55px;
        font-weight: 600;
        color: black;
        margin-top: 70px;
      }
            .ban2p1{
        font-size: 14px;
        
        color: black;
      }
                  .ban2p2{
      
            font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px;
     
      }
      .abdiv{
        padding-top: 60px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #eee2da;
      }
      @media (max-width: 991px) {
        .abdiv{
         background-color: white;
        }
        .aaaa{
          display: none;
        }
      }
      @media (min-width: 991px) {
        
        .bbbb{
          display: none;
        }
      }
      .condi{
        width: 100%;
        height: 500px;
        background-color: #e7e4da;
        padding-top : 40px;
        padding-bottom: 80px;
      }
      .conim{
         width: 100%;
        height: 500px;
      }
        
      .conh2{
        font-size: 36px;
        color: #627976;
        font-weight: 600;
      }
      .conbnt{
        color: white;
        background-color: #d2ada5;
        border:1px solid #d2ada5;
        border-radius: 5px;
      }
                @media (max-width: 991px) {
        .conbtbt{
         display: none;
        }
          @media (max-width: 991px) {
        .conim {
         display: none;
        }
        .condi{
          background-color: white;
          margin-top: 10px;
        }
        
      }
      .ulbi .libi :hover{
      color: #627976;
      text-decoration: underline;
      }
      .sigdi2{
        height: 600px;width: 100%;
        background-color: #e7e4da;
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .sigdi1{
        height: 600px;width: 100%;
      }
      .signbtn{
        background-color: #d2ada5;
        border:1px solid #d2ada5;
        color: white; 
      }
      .signbtn2{
        background-color: white;
        border:1px solid white;
        color: #d2ada5; 
      }
      .inpf2{

      color: #858583;
      border: 1px solid #999999;
      background-color: #eee2da;
    }
    .inpf2:focus{
      box-shadow: none;
      background-color: #eee2da;
      border: 1px solid #999999;

    }
    .mblsig{
      padding-bottom: 40px;
      padding-top: 40px;
    }
    .sigla{
      color: #d2ada5;
    }
    .sigla:hover{
      color: #d2ada5;
      text-decoration: none;
    }
    .couuu{
      border:1px solid #d3aea6;
    }
     @media (max-width: 991px) {
        .websi{
         display: none;
        }
        .couuu{ 
          border:1px solid black;
        }
        .btn-sli{
          font-size: 10px;
        }
      }
      @media (min-width: 991px) {
        .mblsig{
         display: none;
        }

      }
      .btnpro{
        border:1px solid #d3aea6;
        color: #d3aea6;
        background-color: transparent;
        font-size: 20px;
        margin-top: 50px;
        border-radius: 5px;
      }
      @media (max-width: 400px) {
  .mblnavimg{
  width: 130px;
  height: 50px;
}

}
@media (min-width: 400px) {
  .mblnavimg{
  width: 190px;
  height: 50px;
}

}
@media (min-width: 600px) 
{
	.mblnavimg
	{
		width: 400px;
		height: 80px;
		margin-top: -10px;
	}
}


/* Own Style */
body
{
	margin:0 auto;
	padding: 0;
}
#contus
{
	margin-top: 17px;
}

.addcart 
{
	height: 36px;
	background-color: #D2ADA5;
	border: 0px solid #D2ADA5;
	color: #fff;
	margin-left: 60px;
	width: 60%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next 
{
	left: 1px;
	right: auto;
	top: 165px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev 
{
	margin-top: -102px;
	width: 121%;
	margin-left: -30px;
}
#col
{
	width:50%;
	margin-top:12px;
}










@media only screen and (max-width:1920px)and (min-width:768px)
{
    #banner 
	{
      width: 100%;
      margin-left: -419px;
    }
}





@media only screen and (max-width:375px)and (min-width:360px)
{
	#imgwidth
	{
		width: 163%;
		margin-left: -17px;
	}
	#Logoleft
	{
		margin-left:-20px;
	}
	#textleft
	{
		margin-left:110px;
		margin-top:-33px;
	}
	#icon
	{
		margin-top:9px;
	}
	#Logo
	{
		margin-left: 5px;
		margin-top: 4px;
	}
	#colgal
	{
		margin-left: 286px;
		margin-top: -50px;
	}

	#sidebar
	{
	  margin-left:-13px;
	}
}
 
 @media only screen and (max-width:414px)and (min-width:411px)
 {
	#imgwidth
	{
	width: 134%;
	}
 }
@media only screen and (max-width:414px)and (min-width:411px)
{
	#imgwidth
	{
		width: 134%;
	}
	#Logoleft
	{
		margin-left:-20px;
	}
	#textleft
	{
		margin-left: 138px;
		margin-top: -39px;
	}
	#icon
	{
		margin-top:9px;
	}
	#Logo
	{
	   margin-left: 1px;
		margin-top: -41px;
	}
	#colgal
	{
		margin-left: 325px;
		margin-top: -50px;
	}
}

@media only screen and (max-width:320px)and (min-width:310px)
{
	#imgwidth
	{
		width: 160%;
		margin-left: -17px;
	}
	#Logoleft
	{
		margin-left:-20px;
	}
	#textleft
	{
		margin-left:110px;
		margin-top:-33px;
	}
	#icon
	{
		margin-top:9px;
	}
	#Logo
	{
		margin-left: 1px;
		margin-top: 4px;
	}
	#colgal
	{
		margin-left: 263px;
		margin-top: -50px;
	}
	#sidebar
	{
		margin-left:-13px;
	}
	#coun
	{
		margin-left:-13px;
	}
}
 
@media only screen and (max-width: 414px) and (min-width: 320px) 
{
    
	#contus
	{
		margin-top: 17px;
		width: 121%;
		margin-left: -30px;
	}
	.web 
	{
		display:none;
	}
}

  
	 
 